.slider-item1{
    background-image: url("https://i.ibb.co/4VQ6TZs/kids-toys-Fam-Veld-shutterstock-449996167-w.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.slider-item2{
    background-image: url("https://www.nhsggc.org.uk/media/1934/shutterstock_50844475-cropped.jpg?center=0.395744680851064,0.51&mode=crop&width=1920&height=1080&rnd=133216279540000000");
    background-repeat: no-repeat;
    background-position: center;
}
.slider-item3{
    background-image: url("https://i.ibb.co/p4jsyxz/pexels-markus-spiske-3806754.jpg");
    background-repeat: no-repeat;
    background-position: center;
}